extend ../layout3

block content
  ul
    li
      a(href='/etbs-roles') Roles
    li
      a(href='/etbs-permissions') Permissions
    li
      a(href='/etbs-users') Users
  h1 User Roles
  p Welcome to User Roles Page : 
    strong= username
    |  has 
    strong= rolename
  a(href='/etbs-users/edit/' + username) Back to Form
  ul
    each role in roles
      li= 'rolename: ' + role.rolename
        form(method='POST' action='/etbs-users/roles/update')
          input#username(type='hidden' name='username' value=username)
          input#rolename(type='hidden' name='rolename' value=role.rolename)
          button.btn.btn-primary(type='submit')= 'Assign ' + role.rolename + ' to this user'