extend ../layout

block content
  ul
    li
      a(href='/etbs-roles') Roles
    li
      a(href='/etbs-permissions') Permissions
    li
      a(href='/etbs-users') Users
  h1 Users Page
  p Welcome to Users Form page
  form(method='POST' action=action)
    if username != undefined
      input#originUsername(type='hidden' name='originUsername' value=username)
    if rolename != undefined
      input#originRolename(type='hidden' name='originRolename' value=rolename)
    div.form-group
      label(for='username') Username:
      input#username.form-control(type='text', placeholder='Username' name='username' value=username)
    if rolename != undefined
      div.form-group
        label(for='roles') Role:
        a(href= '/etbs-users/roles/' + username)= rolename ? rolename : 'Not yet assign role'
    if cnt != undefined
      div.form-group
        label(for='cnt') Users:
        a(href= '/etbs-users/user-group/' + username)= cnt + ' group(s)'
    if action == '/etbs-users/insert'
      button.btn.btn-primary(type='submit') Create
    else if action == '/etbs-users/update'
      button.btn.btn-primary(type='submit') Save
    else
      button.btn.btn-primary(type='submit') Remove
  