extend ../layout3

block content
  ul
    li
      a(href='/etbs-roles') Roles
    li
      a(href='/etbs-permissions') Permissions
    li
      a(href='/etbs-users') Users
  h1 Permissions
  p Welcome to Permissions Page
  a(href='/etbs-permissions/add') New
  form(method='GET' action='/etbs-permissions/get')
    input#filter(type='text' placeholder='Permission...' name='filter' value=filter)
    input#sort(type='checkbox' name='sort' value='1' checked=sort ? true : false)
  ul
    each perm in permissions
      li= 'permission: ' + perm.permission 
        = ', profileid: ' + perm.profileid
        = ', perm_type: ' + perm.perm_type
        = ', is_active: ' + perm.is_active
        a(href='/etbs-permissions/edit/' + perm.permission + '/' + perm.profileid + '/' + perm.perm_type) Edit
        = '-'
        a(href='/etbs-permissions/remove/' + perm.permission + '/' + perm.profileid + '/' + perm.perm_type) Remove
  // http://programmerblog.net/nodejs-mysql-pagination-example-beginners/
  // https://github.com/knopsod/paginationapp
  if pageCount > 1
       ul.pagination
        if currentPage > 1
         li
          a(href="/etbs-permissions/#{method?method:''}?page=1#{filter?'&filter='+filter:''}#{sort?'&sort='+sort:''}")  &laquo;
        - var x = 1
        if currentPage > 5
         - x = x + (currentPage - 4)
        if (x !== 1)
           li.disabled
              a(href='#') ...
        - for (x; x <= pageCount; x++)
           if( currentPage == x)
            li.active
               span.sr_only
                   = currentPage
           else
             li
               a(href= "/etbs-permissions/#{method?method:''}?page=" + x + "#{filter?'&filter='+filter:''}#{sort?'&sort='+sort:''}")
                = x
           if x == (currentPage + 4)
               li.disabled
                a(href="#") ...
                - break
        if currentPage != pageCount
        li
            a(href= "/etbs-permissions/#{method?method:''}?page=#{Math.floor(pageCount)}#{filter?'&filter='+filter:''}#{sort?'&sort='+sort:''}") &raquo;
  script(src='https://code.jquery.com/jquery-3.1.1.min.js')
  script.
  