extend ../layout3

block content
  ul
    li
      a(href='/etbs-roles') Roles
    li
      a(href='/etbs-permissions') Permissions
    li
      a(href='/etbs-users') Users
  h1 Role Users Page
  p Welcome to Role Users Page : 
    strong= rolename
  a(href='/etbs-roles/edit/' + rolename + '/' + profileid) Back to Form
  ul
    each user in users
      li= 'User: ' + user.username + ', Role: ' + user.rolename
        form(method='POST' action='/etbs-roles/users/delete')
          input#username(type='hidden' name='username' value=user.username)
          input#rolename(type='hidden' name='rolename' value=rolename)
          input#profileid(type='hidden' name='profileid' value=profileid)
          button.btn.btn-primary(type='submit') Remove
  hr
  p User list
  ul
    each user in unRoleUsers
      li= 'User: ' + user.username + ', Role: ' + user.rolename
        form(method='POST' action='/etbs-roles/users/insert')
          input#username(type='hidden' name='username' value=user.username)
          input#rolename(type='hidden' name='rolename' value=rolename)
          input#profileid(type='hidden' name='profileid' value=profileid)
          button.btn.btn-primary(type='submit') Add
